<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
  <!-- 自己设置 -->
  <!--<localRepository>/Users/yangyong/develop/apache-maven-3.2.5/repo</localRepository>-->

  <servers>
  	<server>
  		<id>apple-snapshots</id>
  		<username>deployment</username>
  		<password>deployment123</password>
  	</server>
  	<server>
  		<id>apple-releases</id>
  		<username>deployment</username>
  		<password>deployment123</password>
  	</server>
  </servers>

  
  <mirrors>
  	<mirror>
    	<id>nexus</id>
        <name>nexus repository</name>                                                                                                                       
        <url>http://maven.dev.littleapple.com/nexus/content/groups/public/</url>
        <mirrorOf>*</mirrorOf>
    </mirror>
  </mirrors>
  
  <profiles>
  	<profile>
      <id>centralProfile</id>
      <repositories>
        <repository>
            <id>central</id>
            <name>Central Repository</name>
            <url>https://repo.maven.apache.org/maven2</url>
            <layout>default</layout>
            <releases><enabled>true</enabled></releases>
            <snapshots><enabled>true</enabled></snapshots>
        </repository>
      </repositories>
    </profile>
  </profiles>
  
  <activeProfiles>
  	<activeProfile>centralProfile</activeProfile>
  </activeProfiles>
</settings>
